.footer {
    margin-top: 60px;
    background: #323232;
    min-width: 1920px;
    height: 500px;
}

.footer__section {
    display: flex;
}

.footer__section-link {
    display: flex;
    color: #FFF;
    font-family: var(--mon);
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

.footer__section-faq-link {
    display: flex;
}

.footer__section-link {
    margin-top: 100px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.footer__list-link {
    color: #FFF;
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.footer__section-goods {
    margin-top: 100px;
    margin-left: 160px;
}

.footer__section-goods-item {
    color: #FFF;
    font-family: var(--mon);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.footer__section-contacts {
    margin-top: 102px;
    margin-left: 217px;
}

.footer__section-goods-descr {
    margin-top: 40px;
    width: 526px;
    color: #FFF;
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    font-variant: all-small-caps;
}

.footer__section-goods-descr-numbers {
    margin-top: 15px;
    color: #FFF;
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    font-variant: all-small-caps;
}

.footer__section-goods-descr-email {
    margin-top: 15px;
    color: #FFF;
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    font-variant: all-small-caps;
    display: flex;
}

.footer__section-goods-descr-socials {
    margin-top: 60px;
    color: #FFF;
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    font-variant: all-small-caps;
    letter-spacing: 2.5px;
}

.socials__icons {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}